# Changes must also be made in the following files:
# ./environment.yml
# ./pyproject.toml
# ./setup.py
# https://github.com/conda-forge/unicorn-binance-websocket-api-feedstock/blob/main/recipe/meta.yaml

colorama
Cython
orjson
psutil
PySocks
requests>=2.31.0
typing_extensions
unicorn-fy>=0.15.0
unicorn-binance-rest-api>=2.11.0
websocket-client
websockets>=14.0
